body{background: rgba(167, 206, 230, 0.404);}

#appContainer{
    height:750px; 
    width:500px; 
    background-color: white;
    border-radius: 5%;
    padding:10px;
    margin:auto;
    border:solid;
    text-align: center;

}

#homeButton{
    padding:5px;
    text-align: center;  
    float:left;
}

#scoreBoard{
    height:69px;
    width:100px;
    float:right;
}

#scoreTop{
    height:10px;
    width:90px;
    padding:5px;  
    text-align: right;
    float:right; 
}
#scoreMiddle{
    height:10px;
    width:90px;
    padding:5px;  
    text-align: right;
    float:right;
}

#scoreBottom{
    height:10px;
    width:px;
    padding:5px;  
    text-align: right;
    float:right;
    
}

#banner{
    margin:auto;
    float:left;
    text-align: center;
    font-size:40px;
    margin-top:30px;
    margin-left:70px;
}

#verbBox{
    height:75px;
    width:270px;
    /*background-color: lightcoral;*/
    color:black;
    border-radius: 5%;
    margin:auto;
    border:solid;
    margin-top:110px;
    margin-bottom: 5%;
    font-size:45px;
    padding: 35px;  
}

#instructBox{
    height:50px;
    width:400px;
    margin:auto;
    padding-top:30px;
    font-size:30px;s
}

#correctAnswerBox{
    height:60px;
    width:400px;
    margin:auto;
    font-size:45px;
}

#userInput{
    height:100px;
    width:400px;
    background-color: lightgoldenrodyellow;
    border-radius: 5%;
    margin:auto;
    margin-top:50px;
    border:solid; 
    font-size: 45px;
    text-align: center;
}



#yourAnswerBox{
    height:50px;
    width:400px;
    margin:auto;
    margin-top: 20px;
    border:solid;
    font-size:35px;
    color:black;
    padding-top:2%;
    border:0px;
}

