*{
    box-sizing: border-box;
}


body{background: rgba(167, 206, 230, 0.404);}

#appContainer{

    

    height:100%; 
    width:100%; 
    background-color: white;
    border-radius: 5%;
    padding:10px;
    margin:auto;
    border:solid;
    text-align: center;

}

#homeButton{

    
    padding:5px;
    text-align: center;  
    float:left;
    border:solid;
    border-color:red;
}

#scoreBoard{
 
    height:100px;
    width:100px;
    float:right;
    border:solid;
}

#scoreTop{
    height:32px;
    width:100%;
    padding:5px;  
    text-align: right;
    float:right; 
    
}
#scoreMiddle{
    height:32px;
    width:100%;
    padding:5px;  
    text-align: right;
    float:right;
    border-top:solid;
    
}

#scoreBottom{
    height:32px;
    width:100%;
    padding:5px;  
    text-align: right;
    float:right;
    border-top:solid;
    
}

#banner{
    grid-column:1/4;
    margin:auto;
    float:left;
    text-align: center;
    font-size:40px;
    height:40%;
    width:100%;
    margin-bottom:10%;
    border:solid;
    border-color:pink;
}

#verbBox{
    height:55%;
    width:100%;
    /*background-color: lightcoral;*/
    color:black;
    border-radius: 5%;
    margin:auto;
    border:solid;
    margin-top:110px;
    margin-bottom: 5%;
    font-size:45px;
    padding: 35px;  
}

#instructBox{
    height:50%;
    width:100%;
    margin:auto;
    padding-top:30px;
    font-size:30px;
}

#correctAnswerBox{
    height:50%;
    width:70%S;
    margin:auto;
    font-size:45px;
}

#userInput{
    height:10%;
    width:100%;
    background-color: lightgoldenrodyellow;
    border-radius: 5%;
    margin:auto;
    margin-top:50px;
    border:solid; 
    font-size: 45px;
    text-align: center;
}



#yourAnswerBox{
    height:50px;
    width:400px;
    margin:auto;
    margin-top: 20px;
    border:solid;
    font-size:35px;
    color:black;
    padding-top:2%;
    border:0px;
}

